# Git
.git
.gitattributes
.github

# Docker
Dockerfile
docker-compose.yaml
docker-compose.yml
.dockerignore

# Documentation
*.md
LICENSE

# Ignore files
.yamlignore
.gitignore

# macOS
.DS_Store

# Editor config
.vscode
.editorconfig
.eslintrc.json
.prettierrc


# Woodpecker
.woodpecker/

# Files by type
*.yaml
*.yml

# Node and Nuxt
node_modules/
.nuxt
.output