@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('IBM Plex Sans Arabic Bold'), local('IBMPlexSansArabic-Bold'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Bold.woff2')
      format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('IBM Plex Sans Arabic ExtraLight'),
    local('IBMPlexSansArabic-ExtraLight'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-ExtraLight.woff2')
      format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('IBM Plex Sans Arabic Light'), local('IBMPlexSansArabic-Light'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Light.woff2')
      format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('IBM Plex Sans Arabic Medium'), local('IBMPlexSansArabic-Medium'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Medium.woff2')
      format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('IBM Plex Sans Arabic'), local('IBMPlexSansArabic'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Regular.woff2')
      format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('IBM Plex Sans Arabic SemiBold'),
    local('IBMPlexSansArabic-SemiBold'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-SemiBold.woff2')
      format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: local('IBM Plex Sans Arabic Text'), local('IBMPlexSansArabic-Text'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Text.woff2')
      format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('IBM Plex Sans Arabic Thin'), local('IBMPlexSansArabic-Thin'),
    url('~/assets/fonts/IBM-Plex-Sans-Arabic/IBMPlexSansArabic-Thin.woff2')
      format('woff2');
}
