body {
  @apply antialiased m-0 px-20 max-lg:px-5;
  @apply font-LTZarid;
}

html,
div {
  scroll-behavior: smooth;
}
::selection {
  @apply bg-nuha-fushia-300 text-nuha-white bg-opacity-90;
}
a::selection {
  @apply underline;
}

button,
a {
  @apply font-IBMPlexSansArabic;
}

.loader {
  @apply h-full w-full aspect-square;
  @apply border-4 border-solid border-nuha-grey-200;
  border-radius: 50%;
  @apply border-t-transparent border-t-2 border-solid;
  animation: spin 0.8s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.link {
  @apply text-xl flex justify-between items-center gap-8;
  &-nav {
    @apply font-light;
  }
  &-hover:hover {
    @apply underline;
  }
}

/* Homepage */
main {
  section {
    @apply py-20 max-lg:py-10;
    &:not(:first-child) {
      @apply border-nuha-fushia-300 border-t-2;
    }
  }
  .main {
    @apply grid grid-cols-1 lg:grid-cols-2 place-items-center  items-start lg:gap-x-14 gap-y-8;
  }
}
.hero-grid {
  @apply grid grid-cols-3 max-lg:grid-cols-1;
  @apply place-items-start gap-12;
}

.article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply my-4;
    a {
      @apply font-LTZarid;
    }
  }
  a {
    font-size: unset;
  }
  p,
  ul,
  ol,
  li {
    @apply text-2xl my-1;
  }
}
ul {
  @apply list-inside list-disc;
}
ol {
  @apply list-inside list-decimal;
}
blockquote {
  @apply ps-4 my-4 border-s-2 border-s-nuha-grey-200;
}

textarea, input[type="text"] {
  @apply border-2 border-nuha-grey-200 rounded-md p-3;
  @apply focus:outline-nuha-fushia-300;
}
