body {
  @apply antialiased m-0 font-LTZaridSerif rtl:font-IBMPlexSansArabic;
}

html,
div {
  scroll-behavior: smooth;
}

a {
  @apply font-IBMPlexSansArabic;
}

.loader {
  @apply h-20 w-20;
  @apply border-4 border-solid border-nuha-grey;
  border-radius: 50%;
  @apply border-t-nuha-fushia-100 border-t-[3px] border-solid;
  animation: spin 0.8s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.link {
  @apply text-xl flex justify-between items-center gap-8;
  &-nav {
    @apply font-light;
  }
  &-hover:hover {
    @apply underline;
  }
}
