@import './typography.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
  animation: spin 1s linear infinite;
}
.page-container {
  @apply flex flex-col gap-12;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}